.logo {
  // box model
  display: block;
  order: 1;
  width: 86px;
  height: 35px;
  margin-bottom: 22px;

  @include atTabletsPortrait {
    // box model
    width: 113px;
    height: 46px;
    margin-top: 22px;
  }

  @include atDesktop {
    // box model
    order: 2;
    width: 149px;
    height: 73px;
    margin: 0;
  }

  &:hover {
    // visual
    opacity: 0.6;
  }

  &:active {
    // visual
    opacity: 0.3;
  }
}
