.order-form {
    // box model
    padding-top: 25px;

    @include atTabletsPortrait {
      // box model
      padding-top: 40px;
    }

    @include atDesktop {
      // box model
      padding-top: 39px;
    }
}

.order-form__section {
    // box model
    margin-bottom: 35px;

    &:last-of-type {
      // box model
      margin-bottom: 32px;
    }

    &--name {
      // box model
      margin-bottom: 32px;
    }

  @include atTabletsPortrait{
      // box model
      display: flex;
      align-items: baseline;
      margin-bottom: 26px;

      &--category {
        @include container;
      }

    &--color {
      // box model
      margin-bottom: 20px;
      padding-top: 27px;
      padding-bottom: 49px;

      // visual
      background-color: #f1f1f1;
    }

      &--name {
        // box model
        margin-bottom: 30px;

        @include container;
      }

      &:last-of-type {
        // box model
        margin-bottom: 26px;
      }
  }

    @include atDesktop {
      // box model
      padding-left: 112px;
    }
}

.order-form__inner {
    // positioning
    position: relative;

    &--phone {
      margin-bottom: 33px;
    }

    @include atTabletsPortrait {
        display: flex;
        // align-items: baseline;
        margin: 0;

        @include container;

        &--phone {
          padding-top: 46px;
        }

        &--mail {
          padding-bottom: 28px;
        }
  }
}

.order-form__inner--phone .order-form__text {
    // box model
    height: 56px;
}

.order-form__inner--phone .order-form__text {
    // box model
    height: 56px;
}

.order-form__inner svg {
    // postioning
    position: absolute;
    top: 34px;
    right: 6px;
}

.order-form__inner--phone svg {
    @include atTabletsPortrait {
      // positining
      top: 62px;
      right: 26px;
    }

    @include atDesktop {
      // positioning
      //right: 232px;
      right: 22.8%;
    }
}

.order-form__inner--mail svg {
    @include atTabletsPortrait {
      // positioning
      top: 15px;
      right: 21px;
    }

    @include atDesktop {
      //right: 229px;
      // positioning
      right: 22.7%;
    }
}

.order-form__section--name .order-form__label {
    // box model
    padding-left: 0;
}

.order-form__title {
    // box model
    display: flex;
    flex-shrink: 0;

  @include form-title;

  &::after {

    content: "";
    display: block;
    flex-grow: 1;
    align-self: center;
    width: 50px;
    height: 1px;
    margin-left: 27px;

    background-color: $color-cyan;
  }

  @include atTabletsPortrait {
    // box model
    width: 167px;

    &--color {
      // box model
      padding-top: 40px;
    }

    &::after {
      // box model
      display: none;
    }
  }

  @include atDesktop {
    // box model
    width: 113px;
  }

  &--name {

      @include atDesktop {
        // box model
        align-self: flex-start;
        margin-top: 47px;
      }
  }
}

.order-form__lines {
    @include atTabletsPortrait {
      
        &--color {
            // box model
            display: flex;
            flex-wrap: wrap;
            width: 500px;
        }

    &--category {
        // box model
        width: 500px;
    }
  }

  @include atDesktop {

      &--color {
        // box model
        width: 815px;
      }

      &--category {
        // box model
        width: 815px;
      }
  }
}

.order-form__line {
    // box model
    margin-bottom: 7px;

  @include atTabletsPortrait {
      // box model
      margin-bottom: 42px;

      &--small {
        // box model
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 0;
        margin-bottom: 0;
      }

      &--gray {
        // box model
        padding-bottom: 21px;

        // visual
        background-color: #f1f1f1;
      }

      &--box {
        // box model
        margin-top: 50px;

        @include container;
      }
  }

  @include atDesktop {
      // box model
      justify-content: flex-start;
      width: 926px;

      &--gray {
        // box model
        width: auto;
      }

      &--small {
        // box model
        padding-left: 112px;
      }

      &--box {
        // box model
        padding-left: 112px;
      }
  }
}

.order-form__lines--color .order-form__line {

    @include atTabletsPortrait {
        // box model
        margin-bottom: 15px;

        &:nth-child(2n+1) {
          // box model
          flex-basis: 262px;
        }

        &:nth-child(2n) {
          // box model
          flex-basis: 238px;
        }
    }

      @include atDesktop {
        &:nth-child(2n+1) {
          // box model
          flex-basis: 262px;
        }

        &:nth-child(2n) {
          // box model
          flex-basis: 262px;
        }
    }
}

.order-form__lines--name .order-form__line {
    @include atTabletsPortrait {
        // box model
        display: flex;
        align-items: baseline;
        width: 500px;
        margin-bottom: 20px;
    }

    @include atDesktop {
        // box model
        width: 700px;
    }
}

.order-form__lines--name .order-form__label {
      @include atTabletsPortrait {
          // box model
          margin-right: 28px;
      }
  }

.order-form__radio {
    // box model
    display: none;
}

.order-form__checkbox {
    // box model
    display: none;
}

.order-form__label {
    // positioning
    position: relative;

    // box model
    display: block;
    padding-left: 62px;
    // typography
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    vertical-align: middle;

    // visual
    color: $color-text-title;

    &--f-name,
    &--s-name,
    &--father-name {
      // box model
      padding-left: 0;
    }

    &--f-name {
      // box model
      margin-top: 29px;
    }

    &--s-name {
      // box model
      padding-top: 5px;
    }

    &--father-name {
      // box model
      padding-top: 4px;
    }

    &--radio {
      // box model
      padding-top: 16px;

      cursor: pointer;

      &::before {
        content: "";
        // positioning
        position: absolute;
        top: 7px;
        left: 0;

        // box model
        display: block;
        width: 36px;
        height: 35px;

        // visual
        border: 2px solid #444444;
        border-radius: 50%;
    }

        &::after {
          content: "";
          // positioning
          position: absolute;
          top: 18px;
          left: 12px;
          
          // box model
          display: block;
          display: none;
          width: 16px;
          height: 16px;

          // visual
          background-color: $color-cyan;
          border-radius: 50%;
        }
  }

  &--toys {
      &::before {
        // positioning
        top: -1px;
      }
  }

    &--checkbox {
      // box model
      padding-top: 20px;
      padding-bottom: 6px;

      cursor: pointer;

    &::before {
      content: "";

      // positioning
      position: absolute;
      top: 7px;
      left: 0;

      // box model
      display: block;
      width: 36px;
      height: 36px;

      // visual
      border: 2px solid #444444;
    }

    &::after {
        content: "";
        
        // positioning
        position: absolute;
        top: 20px;
        left: 9px;

        // box model
        display: block;
        display: none;
        width: 20px;
        height: 8px;

        // visual
        border-bottom: 2px solid #000000;
        border-left: 2px solid #000000;
        transform: rotate(-45deg);
    }
  }

  @include atTabletsPortrait {
        // box model
        padding-left: 80px;

        //typography
        font-size: 19px;

        &--radio {
          &::before {
            // positioning
            top: 0;

            // box model
            width: 48px;
            height: 47px;
          }

        &::after {
            // positioning
            top: 16px;
            left: 16px;
            
            // box model
            width: 20px;
            height: 20px;
        }
    }

    &--checkbox {
        &::before {
          // box model
          width: 50px;
          height: 47px;
        }

        &:after {
          // positioning
          top: 21px;
          left: 12px;

          // box model
          width: 28px;
          height: 13px;
        }
    }
  }
}

.order-form__label--radio:hover::before,
.order-form__label--checkbox:hover::before {
    // visual
    border-color: $color-cyan;
}

.order-form__label--radio:active::before,
.order-form__label--checkbox:active::before {
    // visual
    border-color: #c7c7c7;
}

.order-form__radio:checked ~ .order-form__label::after {
    // box model
    display: block;
}

.order-form__checkbox:checked ~ .order-form__label::after {
    // box model
    display: block;
}

.order-form__text {
    // box model
    box-sizing: border-box;
    width: 100%;
    padding-top: 12px;
    padding-right: 40px;
    padding-bottom: 14px;

    // typography
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    font-family: "Open Sans", Arial, sans-serif;

    // visual
    color: #000000;

    // visual
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #000000;
    outline: none;

    @include atTabletsPortrait {
      // typography
      font-size: 19px;
    }

    &:hover,
    &:focus {
      // visual
      border-bottom: 2px solid $color-cyan;
    }

    &--box {
      // box model
      height: 142px;
      padding-top: 15px;
      padding-left: 14px;

      // visual
      border: 2px solid #000000;

      resize: none;

      &:hover,
      &:focus {
        // visual
        border: 2px solid $color-cyan;
      }

    @include atTabletsPortrait {
        // box model
        font-size: 19px;
      }
  }

  @include atTabletsPortrait {
      // box model
      padding-top: 18px;
      padding-right: 70px;
      padding-bottom: 12px;
      padding-left: 14px;
    }
}

.order-form__text:hover ~ svg path {
    // visual
    fill: #46c1ae;
}

.order-form__line--small .order-form__text {
    @include atTabletsPortrait {
      // box model
      width: 500px;
    }

  @include atDesktop {
      // box model
      width: 700px;
  }
}

.order-form__text::-webkit-input-placeholder {
    @include placeholder-text;
}

.order-form__text::-moz-placeholder {
    @include placeholder-text;
}

.order-form__text:-ms-input-placeholder {
    @include placeholder-text;
}

.order-form__caption {
  // positioning
  position: relative;

  // box model
  display: flex;
  align-items: center;
  margin-bottom: 7px;

  @include form-title;

  /*
  &--mail {
    padding-top: 15px;
  }
*/

  &--box {
    // box model
    padding-top: 15px;
    padding-bottom: 18px;
  }

  &::after {
    content: "";

    // box model
    display: block;
    flex-grow: 1;
    width: 50px;
    height: 1px;
    margin-left: 25px;

    // visual
    background-color: $color-cyan;
  }

  @include atTabletsPortrait {
    // box model
    width: 167px;
    display: block;
    padding-top: 21px;

    &::after {
      // box model
      display: none;
    }
  }

  @include atDesktop {
    // box model
    width: 113px;
  }
}

.order-form__submit {
    @include atTabletsPortrait {
      // box model
      width: 230px;
      margin-top: 53px;
    }

    @include atDesktop {
      // box model
      margin-top: 49px;
      margin-left: 113px;;
    }
}

.order-form__note {
  // box model
    display: block;
    margin-top: 10px;
    margin-bottom: 31px;

    font-size: 14px;
    line-height: 16px;

  @include atTabletsPortrait {
    // box model
    order: 1;
    font-size: 17px;
  }

  @include atDesktop {
    // box model
    margin-right: 235px;
    margin-left: auto;
  }
}
