.reviews {
  position: relative;

  padding-top: 28px;

  &:before {
    content: "";
    position: absolute;
    bottom: -51px;

    width: 100%;
    height: 7px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: 320px 7px;
  }

  @include atTabletsPortrait {
    margin-bottom: 80px;
    padding-top: 78px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;

    &:before {
      bottom: -86px;

      height: 17px;

      background-size: 768px 17px;
    }

    @media #{$retina} {
      background-image: url("../img/review@2x.jpg");
    }
  }

  @include atDesktop {
    padding-top: 7px;

    background: none;

    &:before {
      top: auto;
      bottom: -89px;

      height: 23px;

      background-size: 1150px 23px;;
    }
  }
}

.reviews__container {
  display: flex;
  flex-direction: column;

  @include container;

  @include atTabletsPortrait {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  @include atDesktop {
    width: 875px;
    padding-top: 70px;
    padding-left: 175px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }
}

.reviews__items {
  @include atTabletsPortrait {
    order: 2;
    margin-top: 46px;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 24px;

  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $color-text-title;

  @include atTabletsPortrait {
    flex-grow: 1;
    width: 334px;
    margin-bottom: 0;

    font-size: 43px;
    line-height: 50px;
  }

  @include atDesktop {
    margin-top: 0;

    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__text {
  margin: 0;
  padding: 0;

  font-size: 15px;
  line-height: 30px;

  @include atTabletsPortrait {
    font-size: 17px;
    line-height: 30px;
  }

  @include atDesktop {
    width: 775px;
  }
}

.reviews__author {
  display: block;
  margin-top: 26px;

  font-weight: bold;
  font-size: 18px;
  color: $color-text-title;
  font-style: normal;

  @include atTabletsPortrait {
    order: 3;
    margin-top: 58px;
    padding-bottom: 46px;

    font-size: 17px;
  }

  @include atDesktop {
    flex-basis: 350px;
    margin-top: 36px;
    padding-bottom: 97px;
  }
}

.reviews__author-contact {
  display: inline-block;
  margin-top: 3px;

  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  vertical-align: baseline;

  @include atTabletsPortrait {
    display: block;
  }
}

.reviews__btns {
  height: 52px;
  margin-top: 30px;
  margin-bottom: 38px;

  font-size: 0;

  @include atTabletsPortrait {
    order: 4;
    width: 167px;
    margin-top: 60px;
    margin-right: 5px;
  }

  @include atDesktop {
    margin-top: 39px;
  }
}

.reviews__btn {
  width: 50%;
  height: 52px;

  background-color: #ffffff;
  border: 1px solid #ececec;
  cursor: pointer;

  &--prev {
    background-image: url("../img/icon-left-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-right: 0;
  }

  &--next {
    background-image: url("../img/icon-right-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @include atTabletsPortrait {
    border: 0;
  }
}

.reviews__write {
  @include atTabletsPortrait {
    order: 1;
    width: 175px;
  }

  @include atDesktop {
    margin-top: 10px;
  }
}
