.user-nav {
  // box model
  margin: 0;
  padding: 0;
  order: 3;
  width: 100%;

  // visual
  list-style-type: none;

  // visual
  background-color: #ffffff;

    &--closed {
      // box model
      display: none;
    }

  @include  atTabletsPortrait {
    // positioning
    position: static;

    // box model
    display: block;
    flex-grow: 1;
    width: auto;
    height: 89px;
    box-sizing: border-box;

    // visual
    border-bottom: 2px solid #ececec;
    
    // typography
    font-size: 0;
    text-align: right;
  }
}

.no-js {
  // positioning
  position: static;

  // box model
  display: block;
}

.user-nav__item {
  // visual
  border-top: 1px solid #ececec;

  @include atTabletsPortrait {
    // box model
    display: inline-block;
    height: 89px;
    box-sizing: border-box;

    vertical-align: top;

    // visual
    border-top: 0;
  }
}

.user-nav__item:first-child {
  @include atTabletsPortrait {
    // typography
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    
  }
}

.user-nav__link {
  // box model
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;

  // typography
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;

  // visual
  color: $color-text-title;

  &:hover {
    // visual
    opacity: 0.6;
  }

  &:active {
    // visual
    opacity: 0.3;
  }

  @include atTabletsPortrait {
    // box model
    height: 89px;
    box-sizing: border-box;
    padding-right: 0;
    padding-bottom: 35px;
    padding-left: 37px;

    &--search {
      // typography
      font-size: 0;

      // visual
      border-right: 1px solid #ececec;
      border-left: 1px solid #ececec;
      border-bottom: 1px solid #ececec;
      
    }
  }
}

.user-nav__link:hover path {
  // visual
  fill: #46c1ae;
}

.user-nav__align-center {
  // positioning
  position: relative;

  // box model
  display: block;
  width: 204px;
  margin: 0 auto;
  padding-left: 20px;

  @include atTabletsPortrait {
    // box model
    width: auto;
    padding-left: 46px;
    font-weight: bold;
    font-family: 'Verdana Bold',sans-serif;
  }
}

.user-nav__align-center svg {
  // positioning
  position: absolute;
  left: -35px;


  @include atTabletsPortrait {
    // positioning
    top: 5px;
    left: -4px;
  }

  @include atTabletsPortrait {
    // positioning
    left: -6px;
  }
}

.user-nav__align-center path {
    fill: #d2d2d2;
}